@page
@model IndexModel
@{
    ViewData["Title"] = $"{Model.OptionA} vs {Model.OptionB}!";
}

<h3>@Model.OptionA vs @Model.OptionB!</h3>
<form id="choice" name='form' method="POST">
    <button id="a" type="submit" name="vote" class="a" value="@Model.OptionA">@Model.OptionA</button>
    <button id="b" type="submit" name="vote" class="b" value="@Model.OptionB">@Model.OptionB</button>
</form>
<div id="tip">
    (Tip: you can change your vote)
</div>

@section Scripts{
    <script>
        $().ready(function () {
            $(".a").click(function () {

                var a = $(".a");
                var b = $(".b");

                a.prop('disabled', true);
                a.html('@Model.OptionA <i class="fa fa-check-circle"></i>');
                a.css('opacity', '1');

                b.prop('disabled', false);
                b.html('@Model.OptionB');
                b.css('opacity', '0.5');

                postVote(a.val());

                return false;
            });

            $(".b").click(function () {

                var a = $(".a");
                var b = $(".b");

                b.prop('disabled', true);
                b.html('@Model.OptionB <i class="fa fa-check-circle"></i>');
                b.css('opacity', '1');

                a.prop('disabled', false);
                a.html('@Model.OptionA');
                a.css('opacity', '0.5');

                postVote(b.val());
                
                return false;
            });
        });

        function postVote(vote)
        {
            $.post("/api/votes/" + vote)
                .done(function (response) {
                    if (!response.success)
                    {
                        alert(response.msg);
                    }

                    console.log(response);
                })
                .fail(function (response) {
                    console.log(response);
                });
        }
    </script>
}
